*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 45vh;
    background-color: coral;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
    min-width: 30%;
    align-items: center;
}

.display{
    display: flex;
    background-color: #313131;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.display #disp{
    width: 77%;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
}

.display button{
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.comps{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.comps input{
    cursor: pointer;
}

